<h1>Edit <%= @patient.last_name %>'s info</h1>


<%= form_for @patient do |f| %>
  <ul class="Pedit">
    <%= f.label :first_name %>
    <%= f.label :last_name %><br>
    <%= f.text_field :first_name %>
    <%= f.text_field :last_name %><br>
    <%= f.label :dob %>
    <%= f.date_field :dob %><br>
    <%= f.label :complaint %>
    <%= f.text_field :complaint %><br>
    <%= f.label :sex %>
    <%= f.collection_radio_buttons(
      :sex, [['Male', 'Male'], ['Female', 'Female'], ['Asexual','Asexual']], :first, :last)%>
    <hr><br>
  </ul>
  <%= f.submit %><%= link_to "back", patient_path %>
<% end %>