%h1 Patient Databank
= link_to "Add Patient", new_patient_path
%a --
= link_to "home", root_path
%hr/ 
%br/
- @patient.each do |pat|
  %ol
    = link_to pat.last_name, patient_path(pat)
    = link_to pat.first_name, patient_path(pat)
    %br/
    = pat.dob
    %strong= pat.workflow_state
    %br/

