%h1
  = @patient.last_name
  's
  %br>/
  Data
= user_login_links
%hr/
%br/
= form_for [@hospital, @patient] do |f|
  %strong
    = f.label :last_name
    = f.label :first_name
  %br/
  = @patient.last_name
  = @patient.first_name
  %br/
  %br/
  %strong= f.label :dob
  %br/
  = @patient.dob
  %br/
  %br/
  %strong= f.label :complaint
  %br/
  = @patient.complaint
  %br/
  %br/
  %strong= f.label :sex
  %br/
  = @patient.sex
  %br/
  %br/
  %strong= f.label :workflow_state
  %br/
  = @patient.workflow_state
  %br/
  %br/
  - if @patient.workflow_state == "pay_bill"
    %strong= "Post Discharge Commit"
    %br/
    = @patient.postdis_commit
  - else
    %strong= "Doctor Team"
    %br/
    - @patient.doctors.each do |doc|
      - if doc.name
        = doc.name
        = link_to "*remove*", destroy_doctor_hospital_patient_path(@hospital, @patient, doctor_id: doc.id), method: :delete
        %br/
%hr/
%br/
= link_to "patient Medications", hospital_patient_medications_path(@hospital, @patient)
%a --- 
= link_to "Edit", edit_hospital_patient_path
%a ---
= link_to "Delete", hospital_patient_path, method: :delete
%a ---
= link_to "back", hospital_patients_path(@hospital)
