<body class="body2">
  <h2 class="em1">Meet the Enemies we must face</h2>
  <div class="enemies_div">
    <ul class="enemies_list" style="list-style-image: url(images/skullbullet.png);">
      <li><%= Faker::Name.name %></li>
      <li><%= Faker::Name.name %></li>
      <li><%= Faker::Name.name %></li>
      <li><%= Faker::Name.name %></li>
      <li><%= Faker::Name.name %></li>
      <li><%= Faker::Name.name %></li>
      <li><%= Faker::Name.name %></li>
      <li><%= Faker::Name.name %></li>
    </ul>
  </div>
</body>