- javascript 'medications.js'
%nav.navbar.navbar-default{:role => "navigation"}
  .container-fluid
    / Brand and toggle get grouped for better mobile display
    .navbar-header
      %button.navbar-toggle{"data-target" => "#bs-example-navbar-collapse-1", "data-toggle" => "collapse", :type => "button"}
        %span.sr-only Toggle navigation
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar
      %a.navbar-brand{:href => "/"} Home
    / Collect the nav links, forms, and other content for toggling
    #bs-example-navbar-collapse-1.collapse.navbar-collapse
      %ul.nav.navbar-nav
        %li.active
          - if user_signed_in?
            = content_tag(:a, current_user.email)
          - else
            = link_to "Log In", new_user_session_path
        - if user_signed_in?
          %li.dropdown
            %a.dropdown-toggle{"data-toggle" => "dropdown", :href => "#"}
              Hospital
              %span.caret
            %ul.dropdown-menu{:role => "menu"}
              %li.dropdown-header{:role => "presentation"} Current Hospital
              %li
                = link_to "#{@hospital.name}'s Data", hospital_path(@hospital)
              %li.divider
              %li
                = link_to "Hospitals Home", hospitals_path
          %li.dropdown
            %a.dropdown-toggle{"data-toggle" => "dropdown", :href => "#"}
              Patient
              %span.caret
            %ul.dropdown-menu{:role => "menu"}
              %li.dropdown-header{:role => "presentation"} Current Patient
              %li
                = link_to "#{@patient.last_name}'s Data", hospital_patient_path(@hospital, @patient)
              %li.divider
              %li
                = link_to "Patients Home", hospital_patients_path(@hospital)      
          %li.dropdown
            %a.dropdown-toggle{"data-toggle" => "dropdown", :href => "#"}
              Medication
              %span.caret
            %ul.dropdown-menu{:role => "menu"}
              %li.dropdown-header{:role => "presentation"} Current medication
              %li
                = link_to "#{@medication.name}'s Data", hospital_patient_medication_path(@hospital, @patient, @medication)
                = link_to "Remove #{@medication.name}", hospital_patient_medication_path(@hospital, @patient, @medication), method: :delete
              %li.divider
              %li
                = link_to "All Medications", hospital_patient_medications_path(@hospital, @patient)  
      %ul.nav.navbar-nav.navbar-right
        - if user_signed_in?
          / %li
          /   %form.navbar-form.navbar-right{:role => "search"}
          /     .input-group
          /       %input.form-control{:placeholder => "Find Medication", :type => "text", :class => "patient_medication_search"}
          /         %span.input-group-btn
          /           %button.btn.btn-default{:type => "button", :class => "search_patient_medications", :link => search_patient_medications_hospital_patient_medications_path(@hospital, @patient)} Go
          %li.dropdown
            %a.dropdown-toggle{"data-toggle" => "dropdown", :href => "#"}
              Account
              %span.caret
            %ul.dropdown-menu{:role => "menu"}
              %li
                = link_to "Edit", edit_user_registration_path
              %li.divider
              %li
                = link_to "Log Out", destroy_user_session_path, method: :delete
    / /.navbar-collapse
  / /.container-fluid

/ %ul
/   - if @medication.errors.any?
/     = "#{pluralize(@medication.errors.count, "error")} prohibited this medication from being saved:"
/     - @medication.errors.full_messages.each do |msg|
/       %li
/         = ms

.row.text-center
  .col-md-3
  .col-md-6
    = form_for [@hospital, @patient, @medication] do |f|
      .panel.panel-success
        .panel-heading
          %h1.panel-title  
            ="Edit #{@medication.name}"
        .panel-body
          =f.label :name, "Medications Name"       
          %br/
          =f.text_field :name
          %br/
          %br/
          =f.label :dose, "Dose in Mg"
          %br/
          =f.text_field :dose
          %br/
          %br/
          =f.label :restricted, "Restricted? Y/N"
          %br/
          = f.collection_radio_buttons( :restricted, [['false', 'No'], ['true', 'yes']], :first, :last,)
          %br/
          %button.btn.btn-success{:type => "submit"} Edit