%h1 
  = "#{@hospital.name}'s Databank"
%br/
= link_to "back", hospitals_path
%hr/
%br/
%ul
%strong
  = "name"
%br/
= @hospital.name
%br/
%br/
%strong
  = "address"
%br/
= @hospital.address
%br/
%br/
%strong
  = "Phone Number"
%br/
= @hospital.phone_number
%br/
%br/
%strong
  = "Doctors on call"
%br/
- @hospital.doctors.each do |doc|
  - if doc.name
    = doc.name
    = link_to "*remove*", destroy_doctor_hospital_path(@hospital, doctor_id: doc.id), method: :delete
    %br/
%hr/
  
= link_to "Patients", hospital_patients_path(@hospital)
%a ---
= link_to "edit", edit_hospital_path(@hospital)





















